.all {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .left {
    width: 10%;
    display: flex;
    // float: left;
    flex-direction: column;
  }
  .right {
    width: 90%;
    margin-right: 10px;
    // float: right;
    .rightContent {
      display: flex;
      flex-wrap: wrap;
    }
    .canvasAll {
      width: 100%;
      background-color: grey;
      .canvas {
        background-color: white;
      }
    }
  }
}
